# Logs
logs
*.log

# Dependency directories
node_modules/
pnpm-lock.yaml

# Output files
dist/
build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Cache files
pnpm-store/
.cache/
pnpm-workspace.yaml

# Editor files
.vscode/
.idea/
*.swp
